---
import '../styles/logos.css'
import {Image} from 'astro:assets';

import UBSLogo from '../assets/ubs-logo.webp';
import SumsubLogo from '../assets/sumsub-logo.webp';
import BisoLogo from '../assets/biso-logo.webp';
import GoogleLogo from '../assets/google-logo.webp';
import JPLogo from '../assets/jp-logo.webp';
import BitGobLogo from '../assets/bitgo-logo.webp';
import BinanceLogo from '../assets/binance-logo.webp';
---
<section class="logos">
    <div class="logos-cont">

        <div class="logos-grid">

            <div class="grid">
                <Image src={UBSLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div class="grid2">
                <Image src={SumsubLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div>
                <Image src={BisoLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div>
                <Image src={GoogleLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div>
                <Image src={JPLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div>
                <Image src={BitGobLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div>
                <Image src={BinanceLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

        </div>
    </div>
</section>
